<div class="music-item" [appHoverHighlight]="'yellow'">
    <img [src]="musicItem.imageUrl" class="music-image">
    <h2>{{ musicItem.musictype }}</h2>
    <div class="music-details">
      <p class="artist-name">{{ musicItem.musicName | uppercase}}</p>
      <p class="song-price">Director Name: {{ musicItem.musicDirector |directorName}}</p>
      <p class="song-popularity">Views: {{ musicItem.musicViews | percent}}</p>
      <p class="song-popularity">Traditional: {{ musicItem.istraditional }}</p>
      <p> Budget: {{musicItem.budget | currency: 'CAD'}}</p>
      <button type="button" (click)="deleteMusic(musicItem.musicName)">Delete</button>
      <button type="button" (click)="navigateToMusicList()">Edit</button>

    </div>
  </div>

  
