<!-- <p>modify-list-item works!</p> -->

<form [formGroup]="musicForm">
    <div class="form-group">
      <label for="musictype">Music Type</label>
      <input type="text" id="musictype" formControlName="musictype" [appHighlightOnFocus] = "'green'" />
    </div>
  
    
    <div class="form-group">
      <label for="musicName">Music Name</label>
      <input type="text" id="musicName" formControlName="musicName" appHighlightOnFocus = "red"/>
    </div>
  
    
    <div class="form-group">
      <label for="musicDirector">Music Director</label>
      <input type="text" id="musicDirector" formControlName="musicDirector" appHighlightOnFocus = "black"/>
    </div>
  
    
    <div class="form-group">
      <label for="musicViews">Music Views</label>
      <input type="number" id="musicViews" formControlName="musicViews" appHighlightOnFocus = "indigo" />
    </div>
     
    <div class="form-group">
      <label for="istraditional">Is Traditional</label>
      <input type="checkbox" id="istraditional" formControlName="istraditional" />
    </div>
      
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" formControlName="imageUrl" appHighlightOnFocus = "orange" />
    </div>

    <button type="button" (click)="addMusic()" appHighlightOnFocus = "blue">Add Music</button>
    <button type="button" (click)="updateMusic()" appHighlightOnFocus = "blue">Update Music</button>
  
    <button type="submit" appHighlightOnFocus = "blue">Submit</button>
    
  
    <!-- <button type="button" (click)="onDelete()">Delete</button>
  
    <button type="button" (click)="navigateToMusicList()">Back to List</button> -->
  </form>
  
  
  
